<div class="finance-container">
  <h1 class="finance-title">FX トレード履歴</h1>


  <div class="finance-link">
    <%= link_to "< EXNESS >", exness_path, class: 'finance-button' %>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="finance-form">
    <div class="form-title">
      <%= h '<CSVデータ追加>' %>
    </div>
    <%= form_with url: finance_upload_path, local: true, multipart: true do |form| %>
      <div class="form-group">
        <label for="item_name">プラットフォーム:</label>
        <%= select_tag :platform, options_for_select(@platform, 'exness'), prompt: 'データを追加するデータベースを選択してください。', class: 'form-select' %>
      </div>
      <div class="form-group">
        <label for="csv_file">CSVファイル:</label>
        <%= file_field_tag :csv_file, accept: '.csv', class: 'form-file' %>
      </div>
      <div class="form-actions">
        <%= submit_tag 'Upload', class: 'form-button' %>
      </div>
    <% end %>
  </div>
</div>
